/*第一屏*/
.screen-1-shadow,
.screen-1-phone,
.screen-1__heading{
	transition:all 1s;
}
.screen-1-shadow_animate_init,
.screen-1__heading_animate_init{
	opacity:0;
	transform: translate(0,100%);
}
.screen-1-shadow_animate_done,
.screen-1-phone_animate_done,
.screen-1__heading_animate_done{
	opacity:1;
	transform: translate(0,0);
}
.screen-1-phone_animate_init{
	opacity:0;
	transform:translate(0,-100%);
}
/*第二屏*/
.screen-2-phone,
.screen-2__subheading,
.screen-2__heading{
	transition:all 1s;
}
.screen-2__point_i_1,
.screen-2__point_i_2,
.screen-2__point_i_3{
	transition:all 1s .5s;
}
.screen-2-phone_animate_init,
.screen-2__subheading_animate_init{
	opacity:0;
	transform: translate(0,100%);
}
.screen-2__point_i_1_animate_done,
.screen-2__point_i_2_animate_done,
.screen-2__point_i_3_animate_done,
.screen-2-phone_animate_done,
.screen-2__subheading_animate_done,
.screen-2__heading_animate_done{
	opacity:1;
	transform: translate(0,0);
}
.screen-2__heading_animate_init{
	opacity:0;
	transform:translate(0,-100%);
}
.screen-2__point_i_1_animate_init{
	opacity:0;
	transform:translate(-100%,0);
}
.screen-2__point_i_2_animate_init,
.screen-2__point_i_3_animate_init{
	opacity:0;
	transform:translate(100%,0);
}
.screen-2__point::after{
	content:'';
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	border-radius: 50%;
	background-color:rgba(255,0,0,0.4);
	-webkit-animation:bounce 2s infinite;
}
.screen-2__point::before{
	content:'';
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	border-radius: 50%;
	background-color:rgba(255,0,0,0.4);
	-webkit-animation:bounce 2s infinite 1s;
}
.screen-2__point_i_1::before,
.screen-2__point_i_1::after{
	left:auto;
	right:0;
}
/*第三屏*/
.screen-3-phone,
.screen-3__subheading,
.screen-3__heading{
	transition: all 1s;
}
.screen-3__features{
	transition: all 1s .5s;
}
.screen-3-phone_animate_init,
.screen-3__subheading_animate_init{
	opacity:0;
	transform:translate(0,100%);
}
.screen-3__heading_animate_init{
	opacity:0;
	transform:translate(0,-100%);
}
.screen-3-phone_animate_done,
.screen-3__subheading_animate_done,
.screen-3__heading_animate_done{
	opacity:1;
	transform: translate(0,0);
}
.screen-3__features_animate_init{
	opacity:0;
	transform: scale(0.5);
}
.screen-3__features_animate_done{
	opacity:1;
	transform: scale(1);
}
.screen-3__features__item{
	transition: all .5s;
	cursor:pointer;
}
.screen-3__features__item:hover{
	background: rgba(255,255,255,.2);
	transform: scale(1.2);
}
.screen-3__features__item__number,
.screen-3__features__item__desc{
    animation:rock 2s infinite;
}
/*第四屏*/
.screen-4__heading,
.screen-4__subheading{
	transition: all 1s;
}
.screen-4__type__item_i_1{
	transition: all 1s .5s;
}
.screen-4__type__item_i_2{
	transition: all 1s 1s;
}
.screen-4__type__item_i_3{
	transition: all 1s 1.5s;
}
.screen-4__type__item_i_4{
	transition: all 1s 2s;
}
.screen-4__heading_animate_init{
	opacity:0;
	transform: translate(0,-100%);
}
.screen-4__type__item_i_1_animate_done,
.screen-4__type__item_i_2_animate_done,
.screen-4__type__item_i_3_animate_done,
.screen-4__type__item_i_4_animate_done,
.screen-4__subheading_animate_done,
.screen-4__heading_animate_done{
	opacity:1;
	transform: translate(0,0);
}
.screen-4__type__item_i_1_animate_init,
.screen-4__type__item_i_2_animate_init,
.screen-4__type__item_i_3_animate_init,
.screen-4__type__item_i_4_animate_init,
.screen-4__subheading_animate_init{
	opacity:0;
	transform: translate(0,100%);
}
/*第五屏*/
.screen-5__heading,
.screen-5__subheading{
	transition: all 1s;
}
.screen-5__bg{
	transition: all 1s .5s;
}
.screen-5__bg_animate_init{
	opacity:0;
	transform: scale(0.5);
}
.screen-5__bg_animate_done{
	opacity:1;
	transform: scale(1);
}
.screen-5__subheading_animate_done,
.screen-5__heading_animate_done{
	opacity:1;
	transform: translate(0,0);
}
.screen-5__subheading_animate_init{
	opacity:0;
	transform: translate(0,100%);
}
.screen-5__heading_animate_init{
	opacity:0;
	transform: translate(0,-100%);
}

@-webkit-keyframes bounce{
	0%,100%{transform:scale(0);}
	    50%{transform:scale(1);}
}
@-webkit-keyframes rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}
/*导航条_status_back 样式*/
.header{
	transition: all 1s
}
.header_status_back{
	background-color: rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 3;
}
.header_status_back .header__logo,
.header_status_back .header__nav-item{
	color:#fff;
}
.header_status_back .header__nav-item_status_active{
	color:red;
}
/*大纲_status_in样式*/
.outline{
	transition: all 1s;
	opacity:0;
	transform: translate(100%,0);
}
.outline_status_in{
	opacity:1;
	transform: translate(0,0);
}